<%- include("templates/encabezado2") %>

<h1>Tus datos son: </h1>
<h4>Nombre: <%= producto %></h4>
<h4>precio: <%= precio %></h4>
<h4>codigo: <%= codigo %></h4>
<%- include("templates/pie") %>


<h1>Ir a tabla de Productos:</h1>
<a href="/tablaProductos">Tabla productos</a>