<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 5</title>
    <link rel="stylesheet" href="https://ejercicioprod.onrender.com/CSS/estilosTabla.css">
</head>
<body>
    <h1>Formulario de producto:</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                <th>ID</th>
                <th>Nombre del Producto</th>
                <th>Precio del producto</th>
                <th>Codigo del producto</th>
                <th>Editar / Borrar</th>
            </tr>
        </thead>
        <tbody>
            <%
            productosCorrectos.forEach((producto) => { 
            
            %>
            <tr>
                <td><%= producto.idproductos %></td>
                <td><%= producto.producto %></td>
                <td><%= producto.precio %></td>
                <td><%= producto.codigo %></td>
                <td>
                    <a href="/editarProducto/<%= producto.idproductos %>">Editar</a>
                    <a href="/borrarProducto/<%= producto.idproductos %>">Borrar</a>
                </td>
            </tr>
        <%
        })
        %>

    </tbody>
    <tfoot>

    </tfoot>
</table>
</div>

</body>
<h1>Agregar Producto:</h1>
<a href="/agregarProducto">Agregar Producto</a>
<h1>Ir a tabla de Productos:</h1>
<a href="/">Tabla Usuarios</a>
</html>
